 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Frontend skills</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i> 
      <i class="devicon-react-original"></i>
      <i class="devicon-react-original"></i>
      <p>I have knowledge in web page layout using CSS, HTML, Bootstrap, JavaScript, and React. I am able to create responsive and visually appealing designs.</p>
    </div>
    <div class="tech">
      <h2>Backend skills</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-django-plain"></i>
      <i class="devicon-spring-plain"></i>
      <i class="devicon-express-original-wordmark"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>I have experience with backend development using Spring, Django, Express, and Node.js. I'm familiar with designing and implementing RESTful APIs, working with databases such as Postgres and MongoDB, and deploying applications to cloud platforms like AWS and Heroku./p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-github-plain"></i>
      <i class="devicon-visualstudio-plain"></i>
      <p>I have experience working with various development and deployment tools such as Visual Studio, PHPMyAdmin, Git, Postman, and Google Cloud. These tools have enabled me to build and deploy applications more efficiently and effectively.</p>
    </div>
</div>
