 <div class="user-details">
  <h1> Mi marca </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Misión</h2>
      <i class="fa fa-bullseye"></i>
      <p>Misión:
        Mi misión es proporcionar soluciones de software innovadoras y personalizadas que ayuden a las empresas a alcanzar su máximo potencial. </p>
    </div>
    <div class="tech">
      <h2>Visión</h2>
      <<i class="fa fa-eye"></i>
      <p>Visión:
        Mi visión es ser reconocido como líder en la industria del desarrollo de software, manteniendo una cultura de excelencia y compromiso con los clientes. Para el año 2024 busco ampliar mis capacidades y experiencia para ofrecer soluciones aún más innovadoras.</p>
    </div>
    <div class="tech">
      <h2>Constitución</h2>
      <i class='fas fa-people-carry'></i>
      <p>Mi marca se encuentra constituida por toda mi familia, siempre han sido un apoyo diferencial en mi vida.</p>
    </div>
</div>
