<div class="user-details">
  <h1> Valor Agregado y Diferenciador </h1>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> Cooperación </h3>
    <p>El Trabajo en equipo la comunicación Asertiva y la resolución de conflictos hacen parte de mi marca, pues creo firmemente que estos son pilares fundamentales para lograr el éxito en cualquier proyecto. Además, mi enfoque en el trabajo colaborativo no solo mejora la calidad del resultado final, sino que también fomenta un ambiente de trabajo positivo y motivador para todos los involucrados.</p>
  </div>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h3> Mejora constante </h3>
    <p> La mejora constante es uno de los valores fundamentales de mi marca. Me esfuerzo  por mantenerme actualizados con las últimas tecnologías y metodologías de desarrollo para ofrecer soluciones de software innovadoras y de alta calidad</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
  <div class="user-projects">
    <div class="contents">
      <h3> Conocimientos </h3>
      <p>Tengo amplios conocimientos en el desarrollo de software, abarcando desde la arquitectura hasta el uso de las mejores prácticas. También cuento con experiencia en la gestión de proyectos, manejo avanzado de bases de datos, inteligencia artificial y optimización de procesos, entre otros conocimientos relacionados al area de la ingeniería informatica.</p>
      <i class='fas fa-people-carry'></i>
    </div>
  </div>
</div>
