<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Retool.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Retool </h3>
    <ul>
      <li> Two-tier architecture </li>
    </ul>
    <p>Retool is a web application that allows users to track and visualize vehicle maintenance with reminders. Built with React on the client-side, Django on the server-side, and using a PostgreSQL database.</p>
    <a class="project-link" href="https://retool-deployment-d78g-qmfehj0ri-ajbornacellyn.vercel.app/home"> link to Retool Proyect</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Retool" src="{{ "/assets/img/CryptoUnal.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> CryptoUnal </h3>
    <ul>
      <li> Crypto-wallet</li>
    </ul>
    <p>CryptoUnal is a cryptocurrency wallet application that facilitates transactions of a particular cryptocurrency. The application uses Web3.js for interacting with the Ethereum blockchain. The frontend is developed using EJS, a templating engine for generating HTML with JavaScript. The backend is built using Express.js, a popular Node.js framework. For testing, Ganache-cli is used, which allows for a local blockchain to be set up for development purposes. The application follows a two-layer architecture, separating the frontend and backend logic.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
